/* fonts */
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* colors */
.green {
  color: #01984e;
}
.green-bg {
  background: #01984e;
}
body {
  font-family: 'CastrolSansCon-Regular';
  font-size: 16px;
  color: #fff;
  background-color: #020305;
}
.main-btn {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 88px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  background: #fff;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
}
.main-btn:hover {
  color: #00B45C;
  background: #fff;
}
.main-btn:visited {
  color: #01984e;
  background-color: #fff;
}
.main-btn span {
  height: 16px;
  line-height: 18px;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evently {
  justify-content: space-evenly;
}
.align-content-between {
  align-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
button:focus {
  outline: none !important;
}
.list-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}
.position-relative {
  position: relative;
}
.no-active {
  display: none;
}
.main-content .container {
  padding-top: 110px;
  padding-bottom: 170px;
  background-image: url('../img/burger@2x.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.main-content h1 {
  font-size: 58px;
  line-height: 70px;
  text-transform: uppercase;
}
.main-content h1 small {
  font-size: 30px;
  color: #fff;
}
@media (max-width: 991px) {
  .main-content .container {
    background-position: center center;
  }
  .main-content h1 {
    text-shadow: 0px 4px 5px black;
  }
}
@media (max-width: 767px) {
  .main-content h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .main-content h1 small {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .main-content .container {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
  }
  .main-content .main-bg {
    width: auto;
    height: 550px;
    background-image: url('../img/burger@2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
  .main-content h1 {
    margin-top: -59px;
  }
}
@media (max-width: 425px) {
  .main-content {
    margin-top: -25px;
  }
  .main-content .main-bg {
    height: 425px;
  }
  .main-content h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .main-content h1 small {
    font-size: 22px;
  }
}
.feedback {
  margin-top: 80px;
}
.feedback form {
  position: relative;
}
.feedback .checkbox {
  position: relative;
}
.feedback span.error {
  position: absolute;
  font-size: 12px;
  left: 0;
  color: #a20000;
}
.feedback #emailInputErr {
  bottom: -23px;
}
.feedback #checkboxErr {
  bottom: -18px;
}
.feedback form,
.feedback .success {
  max-width: 945px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  background: #131313;
  border-radius: 12px;
}
.feedback .success {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.feedback .success h2 {
  padding-bottom: 0;
}
.feedback h2 {
  padding-bottom: 19px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.feedback .form-group * {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.feedback .form-group {
  margin-bottom: 20px;
}
.feedback .form-control:hover {
  border-color: #4b4b4b;
}
.feedback .form-control + label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 20px;
  transition: 0.2s ease all;
  color: rgba(255, 255, 255, 0.3);
}
.feedback .form-control:hover + label,
.feedback .form-control:focus + label {
  color: rgba(255, 255, 255, 0.5);
}
.feedback .form-control:focus + label,
.feedback .form-control:not(:focus):valid ~ .floating-label {
  left: 15px;
  top: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  transition: 0.2s ease all;
}
.feedback .form-control:not(:focus):valid ~ .floating-label {
  color: rgba(255, 255, 255, 0.3);
}
.feedback .form-control:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
  border-color: #4b4b4b;
}
.feedback form input {
  height: 57px;
  padding: 32px 15px 8px;
  color: rgba(255, 255, 255, 0.8);
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
}
.feedback .error {
  border-color: #a20000;
}
.feedback .error + label {
  color: #a20000;
  opacity: 0.5;
}
.feedback .form-group .btn-primary {
  width: 100%;
  height: 57px;
  background: #01984e;
  border-color: #01984e;
}
.feedback .form-group .btn-primary:disabled {
  opacity: 0.5;
}
.feedback .form-group .btn-primary:hover:disabled {
  background: #01984e;
  border-color: #01984e;
}
.feedback .form-group .btn-primary:hover {
  background: #00b45c;
}
.feedback .form-group .btn-primary:active {
  background: #01753c;
  border-color: #016534;
}
.feedback .form-group .checkbox label {
  display: flex;
  align-items: center;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
  text-transform: none;
}
.feedback .form-group:last-child .row {
  display: flex;
  align-items: center;
}
.feedback .form-group .checkbox input[type="checkbox"] {
  display: none;
}
.feedback .form-group .checkbox label:before {
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: -3px;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.feedback .form-group .checkbox input:hover + label:before {
  background-image: linear-gradient(rgba(29, 29, 29, 0.6), rgba(29, 29, 29, 0.6)), url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.feedback .form-group .checkbox input:checked + label:before {
  background-image: url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #01984e;
  border-color: #01984e;
}
.feedback .form-group .checkbox input:disabled + label:before {
  background: #01984e;
  color: #fff;
}
.feedback button:hover {
  background: #00B45C;
}
@media (max-width: 767px) {
  .feedback {
    margin-top: 40px;
  }
  .feedback h2 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
  }
  .feedback .success h2 {
    padding-top: 10px;
  }
  .feedback form > .form-group:nth-of-type(1) .row [class^="col-"]:nth-child(1) {
    margin-bottom: 20px;
  }
  .feedback form > .form-group:last-of-type .row {
    display: flex;
    flex-direction: column;
  }
  .feedback form > .form-group:last-of-type .row [class^="col-"]:nth-child(1) {
    margin-bottom: 20px;
  }
  .feedback span.error {
    position: unset;
    display: block;
    margin-top: 4px;
  }
  .feedback .form-group .checkbox input:hover + label:before {
    background-image: none;
  }
  .feedback .form-group .checkbox input:checked + label:before {
    background-image: url('../img/checkmark.svg');
  }
}
@media (max-width: 425px) {
  .feedback .container {
    padding-left: 0;
    padding-right: 0;
  }
  .feedback form,
  .feedback .success {
    padding: 26px 15px 15px;
    border-radius: 0;
  }
  .feedback .success h2 {
    padding-top: 20px;
  }
}
.footer {
  margin-top: 100px;
}
.footer .copyright {
  padding-top: 50px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .footer {
    margin-top: 60px;
  }
  .footer .copyright {
    padding-top: 30px;
  }
}
