doctype html  
html(lang='ru')  
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Black Star Burger
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/main.less')
  body
    #main-content.main-content
      .container
        .row
          .col-sm-12.main-bg
          .col-md-7.col-lg-7.text-center
            h1 Castrol подарит уникальный бургер
              br
              small Ждите письма о запуске акции!
    #feedback.feedback
      .container
        form
          h2 Напомните мне о начале акции
          .form-group.position-relative
            input#emailInput.form-control(type="text" autocomplete="off" required)
            label.floating-label(for="emailInput") Email
            span#emailInputErr.error Пожалуйста, введите корректный адрес электронной почты.
          .form-group
            .row
              .col-xs-12.col-sm-7.col-md-5.col-lg-5
                .checkbox
                  input#checkbox(type='checkbox')
                  label(for="checkbox") Согласие на обработку персональных данных
                  span#checkboxErr.error Необходимо дать согласие на обработку персональных данных
              .col-xs-12.col-sm-5.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3
                button#submit.btn.btn-primary(type='submit' disabled) Напомнить
        .success.no-active
          img(src="/img/like.svg", alt="success")
          h2 Ждите письма о запуске сайта!
    #footer.footer
      .container
        p.copyright &copy; 2019. Все права защищены

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="./index.js")